<!-- <footer>
    <p>Copyright 2024. 시작. All rights reserved.</p>
</footer> -->
</div>

<script>

    // window.addEventListener('DOMContentLoaded', (event) => {
    //   openNav();
    // });
    
    // function openNav() {
    //   document.getElementsByClassName("sidebar")[0].style.width = "200px";
    //   document.getElementsByClassName("main")[0].style.marginLeft = "200px";
    // }
    
    // function closeNav() {
    //   document.getElementsByClassName("sidebar")[0].style.width = "0";
    //   document.getElementsByClassName("main")[0].style.marginLeft= "0";
    // }
    </script>
</body>
</html>