<div id="logo-container" class="w3-lobster">
    <div id="logo-couple331">
        <span id="logo-couple">Couple</span><span id="logo-331">331</span>
        <!-- <span id="toggle-sidebar">&#9776;</span> -->
    </div>
</div>