<div id="logo-container" class="w3-lobster">
    <!-- <span id="toggle-sidebar" class="glyphicon glyphicon-align-justify"></span> -->
    <div id="logo-couple331">
        <span id="logo-couple">Couple</span><span id="logo-331">331</span>
    </div>
</div>