<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couple331</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>


    body {
        margin: 0;
        padding: 0;
    }

    .w3-lobster {
      font-family: "Lobster", Sans-serif;
    }
    
    .sidebar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #FCEDAA;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #363636;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #A9CFE2;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .main {
        margin-left: 200px;
        transition: margin-left .5s;
        padding: 16px;
    }
    @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
    }
    </style>
<body>
    
    
    <div class="sidebar">
        <div class="w3-container w3-lobster" style="margin-left: 10px;">
            <span class="logo" style="cursor:pointer" onclick="window.location.href='/'"><span style="color: #f13050;font-size: 46px;" class="w3-xxlarge font-effect-shadow-multiple">Couple</span><span style="font-size: 20px;">331</span></span>
            <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> -->
        </div>
        <a href="/calendar">Calendar</a>
        <a href="/login">Login</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

    <div class="main">
      