<span style="display: flex;">
    <span style="padding: 20px;" class="top-menu">
      <a href="/" class="nav-link link-body-emphasis sidebar-menu">
        <i class="bi bi-house-heart"></i>
        <span>Home</span>
      </a>
    </span>
    <span style="padding: 20px;" class="top-menu">
      <a href="/schedule" class="nav-link link-body-emphasis sidebar-menu">
        <i class="bi bi-calendar-heart"></i>
        <span>함께 달력</span>
      </a>
    </span>
    <span style="padding: 20px;" class="top-menu">
      <a href="/board" class="nav-link link-body-emphasis sidebar-menu">
        <i class="bi bi-postcard-heart"></i>
        <span>연인들의 광장</span>
      </a>
    </span>
  </span>