<div class="w3-container w3-lobster" style="margin-left: 10px;">
    <span id="couple331-logo" style="cursor:pointer" onclick="window.location.href='/'"><span style="color: #f13050;font-size: 46px;" class="w3-xxlarge font-effect-shadow-multiple">Couple</span><span style="font-size: 20px;">331</span></span>
    <span id="toggle-sidebar" style="font-size:30px;cursor:pointer">&#9776;</span>
</div>
<a href="/calendar">Calendar</a>
<a href="/login">Login</a>