<ul class="nav nav-pills flex-column mb-auto">
  <li>
    <a href="/" class="nav-link link-body-emphasis sidebar-menu">
      <i class="bi bi-house-heart"></i>
      <span>Home</span>
    </a>
  </li>
  <li>
    <a href="/calendar" class="nav-link link-body-emphasis sidebar-menu">
      <i class="bi bi-calendar-heart"></i>
      <span>일정</span>
    </a>
  </li>
  <li>
    <a href="/board" class="nav-link link-body-emphasis sidebar-menu">
      <i class="bi bi-postcard-heart"></i>
      <span>게시판</span>
    </a>
  </li>
  <li>
    <a href="/myPage" class="nav-link link-body-emphasis sidebar-menu">
      <span>마이페이지</span>
    </a>
  </li>
</ul>