<div class="w3-lobster" style="margin-left: 10px;">
    <span style="cursor:pointer" onclick="window.location.href='/'"><span style="font-size: 46px;" class="logo-couple">Couple</span><span style="font-size: 20px;">331</span></span>
    <span id="toggle-sidebar" style="font-size:30px;cursor:pointer">&#9776;</span>
</div>
<a href="/calendar">Calendar</a>
<a href="/login">Login</a>