<!DOCTYPE html>
<html lang="ko" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couple331</title>
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/pages/login.css">
</head>
</head>
<body>
    <%- include('../partials/theme') %>
    <div id="wrapper">
        <%- include('../partials/logo') %>
        <div style="width: 500px; margin: 0 auto;">
            <%- body %>
        </div>
    </div>
    <script src="/login.js"></script>
</body>
</html>
