<!DOCTYPE html>
<html lang="ko" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couple331</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 저작자 표시 -->
    <meta name="copyright" content="This favicon was generated using the following graphics from Twitter Twemoji: Graphics Title: 1f495.svg, Graphics Author: Copyright 2020 Twitter, Inc and other contributors (https://github.com/twitter/twemoji), Graphics Source: https://github.com/twitter/twemoji/blob/master/assets/svg/1f495.svg, Graphics License: CC-BY 4.0 (https://creativecommons.org/licenses/by/4.0/).">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/pages/login.css">
</head>
</head>
<body>
    <%- include('../partials/theme') %>
    <div id="wrapper">
        <%- include('../partials/logo') %>
        <div style="width: 500px; margin: 0 auto;">
            <%- body %>
        </div>
    </div>
    <script src="/login.js"></script>
</body>
</html>
