body{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 80%;
    height: 80vh;
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 10%;
}

input{
    width: 65%;
    height: 40px;
    font-size: 15px;
    border: 0.5px solid gray;
    padding-left: 10px;
    border-radius: 5px 5px 5px 5px;
}
.pointer:hover{
    color: #f13050;
    cursor: pointer;
}

#logo-container {
    text-align: center;
}

#logo-couple331 {
    margin-top: 70px;
}

#logo-couple {
    font-size: 63px;
}

#logo-331 {
    font-size: 27px;
}

/* #toggle-sidebar {
    display: none;
} */