/* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
.fc-day a{
    text-decoration: none !important;
    color: black;
  }


th.fc-col-header-cell > div{
  background-color: #efefef;
}

.fc-daygrid {
    border-top: 3px solid black;
  }
  
  .fc-toolbar-title {
    font-weight: bold;
    font-size: 20px !important;
    padding-left: 30px;
  }

  /* 토요일 날짜 파란색 */
.fc-day-sat a {
    color: blue !important;
  }
  
  /* 일요일, 공휴일 날짜 빨간색 */
  .fc-day-sun a, td.fc-daygrid-day:has(.holiday) a {
    color: red !important;
  }


  #calendar-container{
    width: 70%;
    float: left;
    height: 645px;
    padding: 20px;
  }

  #todo-container{
    width: 30%;
    float: right;
    height: 645px;
    padding: 20px;
  }

  .fc .fc-button {
    font-size: 12px !important;
  }

  .fc-day-today {
    background-color: transparent !important;
  }

  td.todoList a.fc-daygrid-day-number::before{
    content: "";
    background: #ff1965;
    margin: 5px 0 0 1px;
    width: 5px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -9px;
    left: -3px;
  }

  td.finishList a.fc-daygrid-day-number::before{
    content: "";
    background: #58b716;
    margin: 5px 0 0 1px;
    width: 5px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -9px;
    left: -3px;
  }

  .active-calendar {
    background-color: #fffadf !important;
  }

  .active-calendar  .fc-daygrid-day-number {
    font-weight: bold;
  }

  .fc-day-today a.view-mode-day-number {
    font-weight: bold;
    color: #781be8  !important;
  }

  .fc-day {
    cursor: pointer;
  }

  .small-btn {
    font-size: 13px !important;
    padding: 4px 8px !important;
  }

  .btn-group {
    margin-bottom: 15px;
  }

  #detailList {
    padding: 5px; 
  }

  .fc-button {
    color: black !important;
    background-color: #efefef !important;
    border-top: 3px solid black !important;
  }

  .fc-customToday-button {
    background-color: #781be8  !important; 
    border-radius: 5px 5px 5px 5px;
    border-color: #781be8  !important; 
    font-size: 13px !important;
    font-weight: bold !important; 
    color: white !important;
    padding: 4px 8px !important;
  }

  #calendarDetail {
    min-width: 200px; 
    min-height: 100px; 
    position: absolute; 
    background: white; 
    border: 1px solid #ddd; 
    padding: 10px; 
    z-index: 1000; 
    box-shadow:0 2px 10px rgba(0,0,0,0.2); 
  }

  #calendarTitle {
    font-weight: bold;
    font-size: 17px;
  }

  /* #calendarDate {
    font-size: 12px;
  } */


  