.w3-lobster {
    font-family: "Lobster", Sans-serif;
}

#logo-couple {
    text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
    color: #f13050;
}

.btn-bd-primary {
    --bd-violet-bg: #f13050;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #f13050;
    --bs-btn-hover-border-color: #f13050;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #f13050;
    --bs-btn-active-border-color: #f13050;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .btn.red-btn{
    background-color: #f13050 !important; 
    border-radius: 5px 5px 5px 5px;
    border-color: #f13050 !important; 
    font-size: 15px !important; 
    font-weight: bold !important; 
    color: white !important;
  }

  .btn.red-small-btn{
    background-color: #f13050 !important; 
    border-radius: 5px 5px 5px 5px;
    border-color: #f13050 !important; 
    font-size: 13px !important;
    font-weight: bold !important; 
    color: white !important;
    padding: 4px 8px !important;
  }

  .btn.blue-small-btn{
    background-color: #0d6efd !important; 
    border-radius: 5px 5px 5px 5px;
    border-color: #0d6efd !important; 
    font-size: 13px !important;
    font-weight: bold !important; 
    color: white !important;
    padding: 4px 8px !important;
  }

  i {
    margin-right: 5px;
  }

  .tui-grid-cell {
    background-color: transparent !important;
    cursor: pointer;
  }

  .tui-grid-header-area {
    border-top: 3px solid black !important;
    background-color: #efefef !important;
  }

/* 
  .tui-grid-row-hover {
    background-color: #f7a6b3 !important;
  }

  .tui-grid-row-hover .tui-grid-cell-content {
    color: #fff !important;
  } */


  .spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.tui-datepicker {
  z-index: 100;
}

.dropdown-item {
  cursor: pointer;
}

.tui-pagination .tui-page-btn.tui-is-selected {
  background-color: #f13050 !important; 
  border-color: #f13050 !important; 
}

.grid-bold-font {
  font-weight: bold;
}

.grid-bold-font > .tui-grid-cell-content{
  font-weight: bold;
}

.grid-red-font > .tui-grid-cell-content{
  color: #f13050;
}

.tui-grid-row-hover {
  background-color: #e5f2da;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.bold-hover:hover {
  font-weight: bold;
}

.tui-is-selected {
  background-color: #f7667e !important; 
  border-radius: 50%;
  font-weight: bold;
}

.tui-calendar .tui-calendar-today:not(.tui-is-selected) {
  color: #ff002a !important;
  font-weight: bold;
}

.tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover {
  background-color: #f8dde1 !important;
}