

#logo-container {
    margin-left: 10px;
    /* display: none; */
}

#logo-couple {
    font-size: 46px;
}

#logo-331 {
    font-size: 20px;
}


.link-body-emphasis.sidebar-menu:focus, .link-body-emphasis.sidebar-menu:hover {
  background-color: #f13050 !important;
  color: #fff !important;
}

.sidebar-menu > i {
  font-size: 20px;
  margin-right: 5px;
}

.sidebar-menu {
  font-weight: bold !important;
}

.sidebar-menu > span {
  /* display: none; */
}


.left-menu {
  width: 280px; 
  /* min-height: 100vh; */
  border-right: 1px solid rgb(182 182 182);
  height: 100vh;
  position: fixed;
}

body::-webkit-scrollbar{ /* 스크롤바 배경 */
  width: 5px;
  height: 7px;
  background: #f8f9fa;
}
body::-webkit-scrollbar-thumb{ /* 스크롤바 */
  border-radius: 1rem;
  background: #f13050;
}

.top-menu:focus, .top-menu:hover {
  border-bottom: 1px solid #f13050 !important;
}

  