<div style="width: 100%; padding: 20px; text-align: center; background-color: #e2dcdc;">
    <div style="width: 80%; margin: 0 auto; margin-top: 100px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div class="mb-3">
            <input type="text" class="form-control" id="title" placeholder="제목" value="" required>
        </div>

        <div id='editor' style="text-align: left;"></div>


        <button type="button" id="applyBtn" class="btn btn-info red-btn" style="width: 100%; margin-top: 13px; height: 50px;">작성</button>
    
    </div>
</div>