<div style="width: 100%; padding: 20px; background-color: #e2dcdc;">
    <div style="width: 95%; margin: 0 auto; margin-top: 5px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div style="border-bottom: 1px solid #919699; padding-bottom: 25px;">
            <div style="font-size: 25px; font-weight: bold;"><span id="category"></span><span id="title"></span></div>
            <div>
                <i class="bi bi-person-circle" style="color: #919699; font-size: 18px; margin-right: 0;"></i>
                <span style="font-weight: bold; margin-right: 5px;" id="author"></span>
                <small id="createDate" class="text-body-secondary"><i class="bi bi-calendar-event"></i><span id="createDateTime"></span></small>
            </div>
        </div>
        <div id="editor" style="min-height: 300px;"></div>
        <div id="comment" style="border-top: 1px solid #919699; margin-top: 25px; margin-bottom: 5px;">   
        </div>

        <div style="width: 100%; margin-top: 10px;">
            <div style="width: 95%; margin: 0 auto; border: 2px solid rgb(229 229 229); border-radius: 6px; box-sizing: border-box; padding: 10px;">
                <i class="bi bi-person-circle" style="color: #919699; font-size: 18px; margin-right: 0;"></i>
                <span style="font-weight: bold; margin-right: 5px;"><%- userInfo["_name"] %></span>
                <textarea id="content" class="form-control" style="width: 100%; font-size: 13px; border: 0;" placeholder="댓글을 남겨보세요"></textarea>  
                <div style="display: flex; justify-content: flex-end;">    
                    <span id="comment-btn">등록</span>
                </div>
            </div>
        </div>
    </div>
</div>
