<div style="width: 100%; padding: 20px; background-color: #e2dcdc;">
    <div style="width: 95%; margin: 0 auto; margin-top: 5px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div style="border-bottom: 1px solid #919699; padding-bottom: 25px;">
            <div style="font-size: 25px; font-weight: bold;"><span id="category">[맛집]</span><span id="title">엄청나게 긴 제목입니다....제목이야</span></div>
            <div>
                <i class="bi bi-person-circle" style="color: #919699; font-size: 18px; margin-right: 0;"></i>
                <span style="font-weight: bold; margin-right: 5px;" id="autor">홍길동</span>
                <small id="createDate" class="text-body-secondary"><i class="bi bi-calendar-event"></i>2024-11-15</small>
            </div>
        </div>
        <div id="editor" style="min-height: 300px;">
            sadokasdo
            asdkoaskdoaskd
            asdasd
        </div>
        <div style="border-top: 1px solid #919699; margin-top: 25px; margin-bottom: 5px;">

            <div style="border-bottom: 1px solid #e5e5e5; margin-top: 5px; display: flex; padding: 10px;">
                <div style="width: 35px;">
                    <i class="bi bi-person-circle" style="color: #919699; font-size: 30px; margin-right: 0;"></i>
                </div>
                <div style="width: calc(100% - 35px);">
                    <div style="font-size: 14px;">박길동</div>
                    <div style="font-size: 14px;">댓글을 달고 있습니다.</div>
                    <div>
                        <small class="text-body-secondary">2024-11-15</small>
                        <small class="text-body-secondary">답글달기</small>
                    </div>
                </div>
            </div>

            <div style="border-bottom: 1px solid #e5e5e5; margin-top: 5px; display: flex; padding: 10px;">
                <div style="width: 35px;">
                    <i class="bi bi-person-circle" style="color: #919699; font-size: 30px; margin-right: 0;"></i>
                </div>
                <div style="width: calc(100% - 35px);">
                    <div style="font-size: 14px;">박길동</div>
                    <div style="font-size: 14px;">댓글을 달고 있습니다. diasjdijasidjasidjiasjdi<br>
                        sdkaosdokasid<br>
                        di
                    </div>
                    <div>
                        <small class="text-body-secondary">2024-11-15</small>
                        <small class="text-body-secondary">답글달기</small>
                    </div>
                </div>
            </div>
        
        </div>

        <div style="width: 100%; margin-top: 10px;">
            <div style="width: 95%; margin: 0 auto; border: 2px solid rgb(229 229 229); border-radius: 6px; box-sizing: border-box; padding: 10px;">
                <i class="bi bi-person-circle" style="color: #919699; font-size: 18px; margin-right: 0;"></i>
                <span style="font-weight: bold; margin-right: 5px;"><%- userInfo["_name"] %></span>
                <textarea style="width: 100%; font-size: 13px; border: 0;" placeholder="댓글을 남겨보세요"></textarea>  
                <div style="display: flex; justify-content: flex-end;">    
                    <span id="comment-btn">등록</span>
                </div>
            </div>
        </div>
    </div>
</div>
