<div style="width: 80%; margin: 0 auto; margin-top: 100px; padding: 30px;">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 5px;">
        <button type="button" id="write-btn"  class="btn btn-primary red-small-btn">작성</button>
    </div>
    <div id='grid'></div>
</div>
