<div id='editor-container' style="width: 100%; padding: 20px;">
    <div class="col-12">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" placeholder="" value="" required>
    </div>
    <div id='editor'></div>
</div>