<div style="width: 100%; padding: 20px; text-align: center; background-color: #e2dcdc; min-height: 100vh;">
    <div style="width: 80%; margin: 0 auto; margin-top: 100px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div class="mb-3" style="display: flex; justify-content: space-between;">
            <select id="category" class="form-select" style="width: 100px;">
                <option value="" disabled selected hidden>분류</option>
                <option value="01">맛집</option>
                <option value="02">놀거리</option>
                <option value="03">여행</option>
                <option value="04">취미</option>
                <option value="05">쇼핑</option>
                <option value="06">선물</option>
                <option value="07">기념일</option>
                <option value="00">기타</option>
            </select>
            <input type="text" class="form-control" id="title" style="width: calc(100% - 110px);" placeholder="제목" value="" required>
        </div>

        <div id='editor' style="text-align: left;"></div>


        <button type="button" id="applyBtn" class="btn btn-info red-btn" style="width: 100%; margin-top: 13px; height: 50px;">작성</button>
    
    </div>
</div>