<div style="width: 80%; margin: 0 auto; margin-top: 100px; padding: 30px;">
    <div id='grid'></div>
    <div class="mt-2">
        <button type="button" id="write-btn"  class="btn btn-primary red-small-btn">작성</button>
    </div>
</div>
