<div style="width: 100%; padding: 20px; background-color: #e2dcdc; min-height: 100vh;">
    <div style="width: 95%; margin: 0 auto; margin-top: 5px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div style="border-bottom: 1px solid #919699; padding-bottom: 25px;">
            <div style="font-size: 25px; font-weight: bold;"><span id="category"></span><span id="title"></span></div>
            <div>
                <i class="bi bi-person-circle" style="color: #919699; font-size: 18px; margin-right: 0;"></i>
                <span style="font-weight: bold; margin-right: 5px;" id="author"></span>
                <small id="createDate" class="text-body-secondary"><i class="bi bi-calendar-event"></i><span id="createDateTime"></span></small>
            </div>
        </div>
        <div id="editor" style="min-height: 300px;"></div>
        
        <div id="commentInputArea" style="border-top: 1px solid #919699;"></div>
        <div id="commentArea_" style="margin-bottom: 5px;" lvl="0"></div>
    </div>
</div>
