<div style="width: 100%; padding: 20px; background-color: #e2dcdc;">
    <div style="width: 70%; margin: 0 auto; margin-top: 100px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <input type="button" id="deleteBtn" value="커플취소" class="btn btn-info red-small-btn">
        
        <h3 style="margin-bottom: 15px; text-align: center;">커플 정보</h3>
        
        <div style="text-align: center;">
           <span id="manName">박길동</span>
           <i class="bi bi-suit-heart-fill" style="color: red;"></i>
           <span id="womanName">최길동</span>
        </div>
        
        <div id='editor'></div>
    </div>
</div>