<% if (param["_screen"] == "index") { %>
    <div style="width: 100%; padding: 20px; background-color: #e2dcdc; min-height: calc(100vh - 60px); border-radius: 0.375rem;">
<% } else { %> 
    <div style="width: 100%; padding: 20px; background-color: #e2dcdc; min-height: 100vh;">
<% } %>   
    <div style="width: 70%; margin: 0 auto; margin-top: 100px; background-color: #fff; border-radius: 19px; padding: 30px;">
        <div style="text-align: center;">
            <h5 style="margin-bottom: 15px;"><%- message %></h5>
            <% if (senderYn == "N") { %>
                <% if (param["status"] == "REQUEST") { %>
                    <button type="button" class="btn btn-info red-small-btn status-change-btn" approval-status-type="01">승인</button>
                    <button type="button" class="btn btn-info blue-small-btn status-change-btn" approval-status-type="02">거절</button>
                <% } else { %> 
                    <button type="button" class="btn btn-info red-small-btn status-change-btn" approval-status-type="">확인</button>
                <% } %>         
            <% } %>
        </div>
    </div>
</div>