<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couple331</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    body{
        margin: 0;
        padding: 0;
    }
    #wrapper{
        width: 80%;
        height: 80vh;
        /* margin: 0 auto; */
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .w3-lobster {
      font-family: "Lobster", Sans-serif;
    }
    input{
        width: 65%;
        height: 40px;
        font-size: 15px;
        border: 0.5px solid gray;
        padding-left: 10px;
        border-radius: 5px 5px 5px 5px;
    }
    .pointer:hover{
        color: #f13050;
        cursor: pointer;
    }
</style>
</head>
<body>
    <div id="wrapper">
        <div style="background-color: white; height: 70px;"></div>
        <div style="text-align: center;" class="w3-container w3-lobster">
            <div style="margin-top: 70px;">
                <span><span style="color: #f13050;font-size: 63px;" class="w3-xxlarge font-effect-shadow-multiple">Couple</span><span style="font-size: 27px;">331</span></span>
            </div>
        </div>
        <div style="width: 500px; margin: 0 auto;">
            <form action="/login" method="post" style="text-align: center;">
                <div><input type="text" name="id" placeholder="👤 이메일" class="input-box" style="margin-top: 40px; margin-bottom: 13px;"></div>
                <div><input type="password" name="pw" placeholder="🔑 비밀번호" class="input-box"></div>
                <input type="submit" value="로그인" class="btn btn-info" style="width: 65%; margin-top: 13px; margin-bottom: 40px; height: 50px; background-color: #f13050; border-radius: 5px 5px 5px 5px;border-color: #f13050; font-size: 15px; font-weight: bold;">
            </form>
            <div style="width: 65%; margin: 0 auto;">
                <div style="display: flex; justify-content: space-between;">
                    <span class="pointer">회원가입</span>
                    <span class="pointer" onclick="findPw()">비밀번호 찾기</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
