<div id='calendar-container'>
    <button type="submit" class="btn btn-secondary red-btn calendar-btn" change-type="prev">왼쪽</button>
    <button type="submit" class="btn btn-secondary red-btn calendar-btn" change-type="today">오늘</button>
    <button type="submit" class="btn btn-secondary red-btn calendar-btn" change-type="next">오른쪽</button>
    <div id='calendar'></div>
</div>

<div id='todo-container'>
    
</div>