<div id='calendar-container'>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btncheck1">커플</label>
  
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">개인</label>
  
  </div>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" change-type="prev">왼쪽</button>
      <button type="button" class="btn btn-outline-primary" change-type="prev">오늘</button>
      <button type="button" class="btn btn-outline-primary" change-type="next">오른쪽</button>
    </div>
    <div id='calendar'></div>
</div>

<div id='todo-container'>
    <button type="button" class="btn btn-primary red-btn" data-bs-toggle="modal" data-bs-target="#scheduleModal" id="addSchedule">추가</button>
    <div class="schedule-container">
        <div id="todoDayStr" class="bold f23"></div>
        <input type="hidden" name="todoDay" id="todoDay">
        <div id="todolist"></div>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="scheduleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="scheduleModalLabel">일정</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModal"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control" id="scheduleText" placeholder="일정 입력해봐">
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="startDate" type="text" aria-label="Date">
                <span class="tui-ico-date" target-date="startDate"></span>
                <div id="startpicker-container" style="margin-left: -1px;"></div>
            </div>
            <span>~</span>
            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                <input id="endDate" type="text" aria-label="Date">
                <span class="tui-ico-date" target-date="endDate"></span>
                <div id="endpicker-container" style="margin-left: -1px;"></div>
            </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary red-btn" id="editSchedule">저장</button>
        </div>
      </div>
    </div>
  </div>