<div>
    <label for="gender" class="form-label">성별</label>
    <div class="form-check form-check-inline" style="margin-left: 5px;">
        <input class="form-check-input" type="radio" name="gender" id="genderMan" value="man">
        <label class="form-check-label" for="genderMan">남성</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="gender" id="genderWoman" value="woman">
        <label class="form-check-label" for="genderWoman">여성</label>
    </div>
</div>

<div class="col-12">
    <label for="name" class="form-label">이름</label>
    <input type="text" class="form-control" id="name" placeholder="" value="" required>
</div>

<div>
    <label for="email" class="form-label">이메일</label>
    <div class="input-group">
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <button type="button" id="emailBtn" class="btn btn-secondary red-btn">인증</button>
    </div>
    <div id="emailMsg" class="check-msg">이메일의 형식이 올바르지 않습니다.</div>
</div>

<div class="input-group" id="temporaryNumberDiv" style="width: 280px; margin-top: 7px; display: none;">
    <input type="text" class="form-control" id="temporaryNumber" placeholder="인증번호">
    <button type="button" id="temporaryNumberBtn" class="btn btn-secondary red-btn">인증</button>
    <span id="timer" style="margin: 5px 0px 0px 5px; font-weight: bold;">03:00</span>
</div>

<div class="col-12">
    <label for="password" class="form-label">비밀번호</label>
    <input type="password" class="form-control" id="password" placeholder="" value="" required>
    <div id="passwordMsg" class="check-msg">비밀번호는 영문 대소문자,특수문자, 숫자를 혼합하여 8~20자로 입력해주세요</div>
</div>

<div class="col-12">
    <label for="passwordCheck" class="form-label">비밀번호 확인</label>
    <input type="password" class="form-control" id="passwordCheck" placeholder="" value="" required>
    <div id="passwordCheckMsg" class="check-msg">입력한 비밀번호와 일치하지 않습니다.</div>
</div>

<div class="col-12">
    <label for="nickName" class="form-label">닉네임</label>
    <input type="text" class="form-control" id="nickName" placeholder="" value="" required>
</div>

<div class="col-12">
    <label for="desc" class="form-label">소개</label>
    <textarea class="form-control" id="desc" rows="3"></textarea>
</div>

<div class="form-check">
    <input class="form-check-input" type="checkbox" id="agreeCheck">
    <label class="form-check-label" for="agreeCheck" style="font-weight: bold">
      동의체크
    </label>
</div>

<button type="button" id="signup"  class="btn btn-info red-btn" style="width: 100%; margin-top: 13px; margin-bottom: 40px; height: 50px;">회원가입</button>