<label for="email" class="form-label">이메일</label>
<div class="input-group">
    <input type="email" class="form-control" id="email" placeholder="you@example.com">
    <button type="submit" class="btn btn-secondary red-btn">인증</button>
</div>
<div class="col-12">
    <label for="name" class="form-label">이름</label>
    <input type="text" class="form-control" id="name" placeholder="" value="" required>
    <div class="invalid-feedback">
        Valid  name is required.
    </div>
</div>

<input type="button" value="회원가입" class="btn btn-info red-btn" style="width: 65%; margin-top: 13px; margin-bottom: 40px; height: 50px;">